.form-view > label {
  padding: 10px 15px 10px 4px;
}

#add-form {
  text-align: center;
  color: #fff;
  background: #1F405C;
  width: 100%;
  max-width: 550px;
  margin: 0px auto;
  margin-top: 4%;
  padding: 1em;
  border-radius: 25px;
}
